.formContent {
    width: 100%;
}

.formContent .formItem {
    display: inline-block;
}
.formContent .formItem>span {
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.baseQueryContent {
    padding: 30px 20px;
}

.baseHandleBtn {
    margin: 0 5px;
    padding: 0 10px;
    text-align: center;
}

.chooseCheckTypeContent {
    padding: 0 20px 20px;
    overflow: hidden;
}

.chooseCheckTypeContent .chooseDateRange {
    float: right;
}

.chooseCheckTypeContent .chooseDateRange > span{
    margin-right: 15px;
}


.checkLineTypeHeader {
    padding: 0 20px 20px;
    overflow: hidden;
}

.chooseChartDatas, .chooseChartType {
    display: inline-block;
    margin-right: 20px;
    line-height: 32px;
}
.chooseChartDatas {
    margin-right: 25px;
}
.chooseChartDatas > span, .chooseChartType > span {
    margin-right: 15px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #333333;
}
.handleContent {
    float: right;
}
.chartPoint, .chartSpeed {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}
.chartPointTitle, .chartSpeedTitle{
    height: 40px;
    background-color: #f4f7fd;

}

.chartPoint {
    padding-right: 10px;
}

.chartSpeed {
    padding-left: 10px;
}

.chartPointTitle span, .chartSpeedTitle span{
    color: #333333;
    font-size:16px;
    line-height: 40px;
    padding: 0 10px;
}

.chartPointTitle .detectionDate, .chartSpeedTitle .detectionDate {
    float: right;
    line-height: 40px;
    font-size:14px;
    color: #666;
    padding-right: 10px;
}

.chartContent {
    padding: 10px;
}


/*.chooseCheckContent .ant-tabs-bar{
    display: none!important;
}*/
/*.chooseCheckContent .ant-tabs-nav .ant-tabs-tab{
    !*padding: 0;*!
    margin: 0;
    border: 1px solid #2a78f6;
    padding: 0 30px;
    color: #1890ff;
}
.chooseCheckContent .ant-btn-primary {

}
.chooseCheckContent .ant-tabs-nav .ant-tabs-tab-active{
    background: #1890ff;
}

.chooseCheckContent .ant-tabs-tab-active .ant-btn {
    background: rgba(255, 255, 255, 0);
    color: white;
}*/
