.detectionPointDetails .formContent .formItem > span {
    font-size: 14px;
    color: #666666;
}

.detectionPointDetails .formContent .formItem {
    margin-bottom: 20px;
}

.detectionPointDetails .formContent {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.currentHandle {
    width: 60%;
    margin: 0 auto;
}
.currentHandle .handleBox{
    text-align: right;
    padding: 20px;
}
.currentHandle .handleBox .handleBtn{
    margin: 0 10px;
}