.formContent {
    width: 100%;
}

.formContent .formItem {
    display: inline-block;
}
.formContent .formItem>span {
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.baseQueryContent {
    padding: 30px 20px;
}

.baseHandleBtn {
    margin: 0 5px;
    padding: 0 15px;
    text-align: center;
}

.detectionTime {
    /*top: 0!important;*/
}

.footerHeadle {
    float: left;
    margin-top: -50px;
}

.descContent {
    padding: 10px;
    color: #333;
}

.descContent span{
    font-size:16px;
}
.descContent p{
    color: #666666;
    font-size:14px;
    margin-bottom: 6px;
}
.descContent .main_content {
    padding: 10px 20px;
    background: #f0f3fa;
}

.riskSourceTabContent .tabTitle {
    font-size:18px;
}


