.pageHeaderContent {
    padding: 30px 0 20px 22px;
    border-bottom: solid 1px #e0e5f6;;
}
.pageTitle {
    height: 18px;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0px;
    letter-spacing: 0px;
    color: #2a78f6;
}

.titleLine {
    width: 4px;
    height: 16px;
    background-color: #2a78f6;
}