#root, .ant-layout {
  height: 100%;
}

.header {
  background-color: #2a78f6;
  box-shadow: 0rem 0.007rem 0.04rem 0rem rgba(42, 71, 149, 0.27);
}

.header > hgroup {
  display: inline-block;
  font-size: 0.133rem;
}
.ant-layout-header {
  padding: 0 20px;
}

.logo > p {
  position: relative;
  display: inline-block;
  color: white;
  margin: 0;
  font-size: 0.37rem;
}

.logo > img {
  margin-right: 20px;
}

.headerExit {
  float: right;
  color: white;
}

.headerExit > p {
  display: inline-block;
  margin: 0;
}

.headerExit > p:first-child {
  margin-right: 20px;
}

.headerExit > p:last-child {
  position: relative;
  padding-left: 40px;
}

.headerExit > p:last-child::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: #2a71db url('./img/exit.png') right bottom / 100% no-repeat;
  background-size: 100%;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.headerExit > p:last-child::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.3);
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.hgroupAvatar {
  margin-right: 6px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.ant-table-thead > tr > th {
  border-right: 2px solid white;
  background: #f3f3f3;
}

.ant-table-thead > tr > th:last-child {
  border-right: 0;
}

.ant-table table, .ant-table-thead > tr > th {
  text-align: center;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 8px 16px;
}

.ant-table-tbody > tr > td {
  padding: 11.5px 16px;
  word-break: break-all;
}
.ant-layout > .ant-layout-content{
  padding: 0 !important;
}
/*.ant-menu {*/
/*background: #1e212b;*/
/*}*/

.ant-btn {
  border: none;
}

.anticon-eye-o {
  font-size: 20px;
  vertical-align: middle;
}

.ant-table-bordered .ant-table-body > table {
  border:none;
}

.ant-table-bordered .ant-table-tbody > tr > td {
  border-right: none;
}

.ant-table-bordered .ant-table-thead > tr > th {
  border-right: 2px solid white;
  background: #f3f3f3;
}

.ant-table-bordered .ant-table-thead > tr > th {
  border-bottom: none;
}

/*.menu-first {*/
  /*padding-left: 24px;*/
/*}*/

/*.menu-first:before {*/
  /*content: '';*/
  /*position: absolute;*/
  /*left:0;*/
  /*width: 20px;*/
  /*height: 16px;*/
  /*background: url(img/bs_nor.png) no-repeat center;*/
  /*background-size: 100%;*/
/*}*/


/*itemcollect*/
.content_itemcollect_top {
  height: 1.241rem;
  display: block;
  overflow: hidden;
  border-bottom: solid 1px #e0e5f6;
}

.content_itemcollect_top > p, .header_mark > p {
  font-size: 0.333rem;
  color: #2a78f6;
  margin: 0.556rem 0 0 0.648rem; 
  position: relative;
}

.content_itemcollect_top > p::before, .header_mark > p::before {
    content: '';
    display: block;
    width: 0.074rem;
    height: 0.296rem;
    background-color: #2a78f6;
    position: absolute;
    left: -0.278rem;
    top: 50%;
    transform: translateY(-50%);
}

.content_itemcollect_top_main {
  margin: 0.37rem 0 0.444rem 0.352rem;
}

.content_itemcollect_top_main  p {
  display: inline-block;
  margin-right: 0.241rem;
  color: #666666;
}

.ant-select-enabled {
  margin-right: 0.87rem;
}

.content_itemcollect_top_main_des > p, .content_itemcollect_top_main_map > p {
  float: left;
} 

.content_itemcollect_top_main_des > span {
  line-height: 0.4rem;
  font-size: 0.259rem;
  color: #444444;
}

.content_itemcollect_top_main_map {
  margin-top: 0.481rem;
  overflow: hidden;
}

.content_itemcollect_top_main_map > div {
  width: 28.796rem;
  height: 5.759rem;
  border: 1px solid #333;
  float: left;
}

.content_itemcollect_bottom {
  padding: 0 0.38rem;
  box-sizing: border-box;
}

.content_itemcollect_bottom .content_itemcollect_top {
  /*margin: 0 -0.38rem;*/
}

/*workingpoint*/
.content_workingpoint .content_itemcollect_top > p {
  display: inline-block;
}

.content_workingpoint_top, .content_workingpoint_top > p {
    display: inline-block;
}

.content_workingpoint_top{
    float: right;
    margin-top: 0.556rem;
}

.content_workingpoint_top .ant-select-enabled {
    margin-right: 0.37rem;
}

.content_workingpoint_bottom {
  display: flex;
}

.content_workingpoint_bottom > div {
  flex: 1;
}